In [27]:
import pandas as pd
import numpy as np
import pyspark
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
from tqdm import tqdm

basic_folder = ''
file_name = basic_folder + 'elementary_middle_schools_location.csv'
file_name2 = basic_folder + 'school_info.csv'
df =pd.read_csv(file_name)
df2 =pd.read_csv(file_name2)

latitude=df['위도']
longitude=df['경도']

elementary=[]
middle=[]
high=[]

count_row=df2.shape[0] #number of rows
geolocator = Nominatim(user_agent="lms", timeout=10)
geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)

def type_of_school():
    for x in range(count_row):
        type=df2.loc[x]['학교종류명']
        if(type=='고등학교'):
            if(df2.loc[x]['도로명주소']):
                row=[df2.loc[x]['학교명'],df2.loc[x]['도로명주소'],"",""]
                high.append(row)


type_of_school()
columns=['school_name','address','latitude','longitude']
high_df=pd.DataFrame(high,columns=columns)

def find_lat_lon():
    count_rw=high_df.shape[0]
    for x in tqdm(range(count_rw)):
        addr=high_df.loc[x]['address']
        if geolocator.geocode(addr) is not None:
            location=geolocator.geocode(addr)
            high_df.loc[x]['latitude']=location.latitude
            high_df.loc[x]['longitude']=location.longitude

find_lat_lon()
high_df.to_csv(r'high_school.csv')
high_df

100%|██████████| 2374/2374 [1:28:59<00:00,  2.25s/it]

     school_name                       address latitude longitude
0         가락고등학교              서울특별시 송파구 송이로 42   37.493   127.125
1        가재울고등학교         서울특별시 서대문구 수색로 100-35  37.5773   126.903
2         강동고등학교            서울특별시 강동구 구천면로 572  37.5501   127.147
3         강서고등학교           서울특별시 양천구 목동중앙남로 27  37.5368   126.867
4       강서공업고등학교           서울특별시 강서구 방화대로47길 9  37.5762   126.815
...          ...                           ...      ...       ...
2369      표선고등학교  제주특별자치도 서귀포시 표선면 표선중앙로 22-15
2370    한국뷰티고등학교        제주특별자치도 제주시 한경면 용고로 70
2371      한림고등학교        제주특별자치도 제주시 한림읍 월계로 74
2372    한림공업고등학교      제주특별자치도 제주시 한림읍 한림중앙로 87
2373      함덕고등학교         제주특별자치도 제주시 조천읍 신흥로 9

[2374 rows x 4 columns]

In [ ]:
import pandas as pd
import numpy as np
import pyspark
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
from tqdm import tqdm

basic_folder = ''
file_name = basic_folder + 'high_school.csv'

df =pd.read_csv(file_name)
count_row=df.shape[0]
print(count_row)
df